<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" ng-app="App">
<head>
    <meta charset="UTF-8" />
    <title>Hello</title>
    <script src="/webjars/angularjs/1.4.4/angular.min.js"></script>
    <script src="/js/ctrl.js"></script>
</head>
<body>
    <div id='msg' ng-controller="MsgController"> {{msg}} </div>
    <div id='date' th:text="${#CustomUtil.formatDate(date)}"></div>
    <a id='link-to-help' href="/help">Help</a>
</body>
</html>
